/* Estilos generales */
body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #000000; /* Fondo negro */
    color: #93C572; /* Texto verde pistacho */
}

/* Header */
header {
    background-color: #000000;
    padding-bottom: 20px;
}

/* Menú de Navegación */
nav {
    background-color: #000000;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 10px 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #93C572; /* Texto verde pistacho */
    padding: 10px 20px;
    border: 1px solid #93C572; /* Borde verde pistacho */
    border-radius: 5px;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: #93C572; /* Fondo verde pistacho al pasar el mouse */
    color: #1a1a1a; /* Texto oscuro al pasar el mouse */
}

/* Imagen del Header */
.header-image-container {
    text-align: center;
    margin-top: 20px;
}

.header-image-container img {
    width: 80%;
    max-width: 800px;
    height: auto;
    border-radius: 10px;
}

/* Título del Header */
header h1 {
    color: #93C572; /* Texto verde pistacho */
    text-align: center;
    margin-top: 20px;
}

/* Main */
main {
    padding: 20px;
}

/* Footer */
footer {
    background-color: #1a1a1a;
    color: #666666;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}
.header-image-container {
    text-align: center;
    margin-top: 20px;
}

.header-image-container img {
    width: 80%;
    max-width: 800px;
    height: auto;
    border-radius: 10px;
}
